<div class="buttonContainer">
    <!-- info para estudiantes -->
    <button mat-button class="nameButton">{{nameUsers | uppercase}}</button>
    <!-- info para estudiantes -->
    <button mat-button>Mis Datos</button>
    <button mat-button>Mis Cursos</button>
    
    <!-- info para estudiantes -->
    <button mat-button>Listado de Alumnos</button>
    <button mat-button>ABM de Alumnos</button>
    <button mat-button>Listado de Cursos</button>
    <button mat-button>ABM de Cursos</button>
</div>

