<h1 appTitleStyle>Cursos disponibles</h1>
<table mat-table [dataSource]="arrCourses" class=" tableContainer" #table>

    <ng-container [matColumnDef]="column" *ngFor="let column of arrHeadersActions">
       
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <div *ngIf="column!=='actions'; else myAction">
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </div>
        <ng-template #myAction>
            <td mat-cell *matCellDef="let element" class="iconsActionContainer" >  
                <button mat-raised-button color="primary" (click)="subscribeToCourse(element)">Inscribirse</button>
                <button mat-raised-button color="warn" (click)="unSubscribeToCourse(element)">Desuscribirse</button>
            </td>
        </ng-template>
          
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="arrHeadersActions"></tr>
    <tr mat-row *matRowDef="let row; columns: arrHeadersActions;"></tr>
  </table>

<h1 appTitleStyle>Mis Cursos</h1>
<mat-list *ngFor="let myCourse of this.arrInscriptions">
    <mat-list-item *ngIf="myCourse.nameStudent==this.userActive" class="listCourse"> {{myCourse.nameCourse}} </mat-list-item>
</mat-list>
