<div class="listStudentContainer">
    <h1>Lista de Alumnos</h1>
    <app-student-list [contentTable]="arrStudents" [headersTable]="arrHeaders"></app-student-list>
</div>

<!-- Se muestra solo con permiso admin-->
<div class="listStudentContainer">
    <h1>ABM Alumnos</h1>
    <app-student-abm [contentTable]="arrStudents" 
                    [headersTable]="arrHeadersActions" 
                    (newStudentAdded)="onStudentAdd($event)"
                    (newStudentEdit)="onStudentEdit($event)"
                    (newStudentDelete)="onStudentDelete($event)">
    </app-student-abm>
</div>

