.wrapper{
    display:grid;
    grid-template-rows: 1fr 13fr 1fr;
    grid-template-columns: 2fr 5fr 3fr;
    grid-template-areas:
        "navbar navbar navbar"
        "sidemenu content content" 
}
.navbar{
    grid-area:navbar;
}
.sidemenu{
    grid-area:sidemenu;
}
.content{
    grid-area:content;
}