<table mat-table [dataSource]="contentTable" class=" tableContainer">

    <ng-container [matColumnDef]="column" *ngFor="let column of headersTable">
       
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <div *ngIf="column!=='actions'; else myAction">
            <td mat-cell *matCellDef="let element" > {{element[column]}} </td>
        </div>
        <ng-template #myAction>
            <td mat-cell *matCellDef="let element" class="iconsActionContainer" >  
                <mat-icon class="actionIconsEdit">edit</mat-icon>
                <mat-icon class="actionIconsDelete">delete</mat-icon>
            </td>
        </ng-template>
          
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="headersTable"></tr>
    <tr mat-row *matRowDef="let row; columns: headersTable;"></tr>
  </table>
