.tableContainer{
    width: 100%;

    .iconsActionContainer{
        .actionIconsEdit{
            cursor: pointer;
            float: left;
            &:hover{
                color: #3f51b5
            }
        }
        .actionIconsDelete{
            cursor: pointer;
            float: right;
            &:hover{
                color: #E74C3C 
            }
        }
    }
}

.card{
    box-shadow: none;
    .filtroContainer{
        width: 100%;
    }
}

.encontrados{
    background-color: #E74C3C;
}
